@import "tailwindcss";


@theme{
  --color-primary:#F15D2B;
  --color-textColor:#252729;
  --color-backGround:#FF9D7D;
}

html,body{
  overflow-x: hidden;
}

* { 
  box-sizing: border-box; 
}
#root{
  margin:0;
  padding:0; 
}



.background-set{ 
  height: 100vh;
  width: 100%;
}

/*************FONTS*****************/
/* hero font */
.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}

.halant-regular {
  font-family: "Halant", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-sans{
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* //scrollbar */
